# Project exclude paths
/out/

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/
.idea/artifacts
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
*.iml
*.ipr
*.iws

